<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>My_Blood_Bank_Project</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>blood_Package.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BloodBankServlet</display-name>
    <servlet-name>BloodBankServlet</servlet-name>
    <servlet-class>blood_Package.BloodBankServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BloodBankServlet</servlet-name>
    <url-pattern>/BloodBankServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginServlet</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>blood_Package.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBloodBankServlet</display-name>
    <servlet-name>AddBloodBankServlet</servlet-name>
    <servlet-class>blood_Package.AddBloodBankServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBloodBankServlet</servlet-name>
    <url-pattern>/AddBloodBankServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewBloodBankServlet</display-name>
    <servlet-name>ViewBloodBankServlet</servlet-name>
    <servlet-class>blood_Package.ViewBloodBankServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBloodBankServlet</servlet-name>
    <url-pattern>/ViewBloodBankServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>blood_Package.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddHealthTipsServlet</display-name>
    <servlet-name>AddHealthTipsServlet</servlet-name>
    <servlet-class>blood_Package.AddHealthTipsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHealthTipsServlet</servlet-name>
    <url-pattern>/AddHealthTipsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBloodBankCampServlet</display-name>
    <servlet-name>AddBloodBankCampServlet</servlet-name>
    <servlet-class>blood_Package.AddBloodBankCampServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBloodBankCampServlet</servlet-name>
    <url-pattern>/AddBloodBankCampServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BloodBankUpdate</display-name>
    <servlet-name>BloodBankUpdate</servlet-name>
    <servlet-class>blood_Package.BloodBankUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BloodBankUpdate</servlet-name>
    <url-pattern>/BloodBankUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegisterServlet</display-name>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>blood_Package.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/UserRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestServlet</display-name>
    <servlet-name>RequestServlet</servlet-name>
    <servlet-class>blood_Package.RequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestServlet</servlet-name>
    <url-pattern>/RequestServlet</url-pattern>
  </servlet-mapping>
</web-app>